<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ent.happychat.mapper.InteractiveStatisticsMapper">

    <update id="addCollect">
        UPDATE interactive_statistics SET collect_count = collect_count + 1 WHERE player_id = #{playerId}
    </update>

    <update id="subCollect">
        UPDATE interactive_statistics SET collect_count = collect_count - 1 WHERE player_id = #{playerId} and collect_count > 0
    </update>

    <update id="addLikesReceived">
        UPDATE interactive_statistics SET likes_received_count = likes_received_count + 1 WHERE player_id = #{playerId}
    </update>

    <update id="subLikesReceived">
        UPDATE interactive_statistics SET likes_received_count = likes_received_count - 1 WHERE player_id = #{playerId} and likes_received_count > 0
    </update>

    <update id="addFollowers">
        UPDATE interactive_statistics SET followers_count = followers_count + 1 WHERE player_id = #{playerId}
    </update>

    <update id="subFollowers">
        UPDATE interactive_statistics SET followers_count = followers_count - 1 WHERE player_id = #{playerId} and followers_count > 0
    </update>

</mapper>
