<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ent.happychat.mapper.NewsMapper">

    <insert id="insertBatchIgnore">
        INSERT IGNORE INTO news
        (title, content, filter_content, source, category, photo_path, content_image_path, url, view_count, likes_count,
            comments_count, news_status, create_name, update_name, create_time, update_time)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.title}, #{item.content},#{item.filterContent}, #{item.source}, #{item.category}, #{item.photoPath},
            #{item.contentImagePath}, #{item.url}, #{item.viewCount}, #{item.likesCount},#{item.commentsCount},
            #{item.newsStatus}, #{item.createName}, #{item.updateName}, #{item.createTime},#{item.updateTime})
        </foreach>
    </insert>

    <update id="increaseCommentsCount">
        UPDATE news SET comments_count = comments_count + 1 WHERE id = #{id}
    </update>

    <update id="increaseViewsCount">
        UPDATE news SET view_count = view_count + 1 WHERE id = #{id}
    </update>

    <update id="increaseLikesCount">
        UPDATE news SET likes_count = likes_count + 1 WHERE id = #{id}
    </update>

</mapper>
