<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ent.happychat.mapper.TiebaMapper">

    <update id="increaseCommentsCount">
        UPDATE tieba SET comment_count = comment_count + 1 WHERE id = #{id}
    </update>

    <update id="increaseLikesCount">
        UPDATE tieba SET likes_count = likes_count + 1 WHERE id = #{id}
    </update>

    <update id="increaseViewCount">
        UPDATE tieba SET view_count = view_count + 1 WHERE id = #{id}
    </update>

</mapper>